/* ================================= 
  Variables
==================================== */

// media query sizes
$xs-width: 523px;
$sm-width: 600px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;
$xxl-width: 1400px;