@import "variables";
@import "mixins";

*, *:after, *:before {
 box-sizing: border-box;   
}

.background-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: grey;
    width: 100%;
    height: 45vh;
    background-size: cover;
    background-position: 50% 50%;
    &.clear {
        background-image: url("../../assets/images/clear.webp");
    }
    &.clear-night {
        background-image: url("../../assets/images/clear-night.webp");
    }
    &.cloudy {
        background-image: url("../../assets/images/cloudy.webp");
    }
    &.rainy {
        background-image: url("../../assets/images/rainy.webp");
    }
    &.rainy-night {
        background-image: url("../../assets/images/rainy-night.webp");
    }
    &.lightning {
        background-image: url("../../assets/images/lightning.webp");
    }
    &.lightning-night {
        background-image: url("../../assets/images/lightning-night.webp");
    }
    &.snowy {
        background-image: url("../../assets/images/snowy.webp");
    }
    &.snowy-night {
        background-image: url("../../assets/images/snowy-night.webp");
    }
    &.foggy {
        background-image: url("../../assets/images/foggy.webp");
    }
    &.foggy-night {
        background-image: url("../../assets/images/foggy-night.webp");
    }
}

li {
    list-style: none;
}

.place-name {
    text-shadow: 5px 5px 15px rgba(0,0,0,0.75);
    padding-bottom: 1.5rem;
    color: white;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: inherit;
    margin-top: -1rem;
    &.forecast {
    &:not(:first-child) {
        margin-top: 3rem;
        @include media-xl {
            margin-top: 0;
        }
    }
        @include media-xl {
            margin-top: 0;
            align-items: stretch;
            margin-left: 1rem;
            margin-right: 1rem;
        }

    }
}

.current-card {
    min-width: 300px;
    width: 35vw;
    margin-top: -4rem;
    margin-bottom: 5rem;
    &.forecast {
        @include media-xl {
            min-width: 200px;
            width: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-height: 350px;
        }
    }
}

.current-more {
    width: 100%;
    overflow-x: hidden;
}

.weather-icon-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    // @include media-sm {
    //     flex-direction: column;
    // }
}

.weather-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.weather-icon {
    display: flex;
    justify-content: center;
    width: 50%;
    img {
        height: 60%;
        width: 60%;
        @include media-md {
            width: 45%;
            height: 45%;
        }
        @include media-lg {
            width: 35%;
            height: 35%;
        }
    }
}

.forecast-btn-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.forecast-btn {
    text-decoration: none;
    color: white;
}

.forecast-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    @include media-xl {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
    }
}