@import "variables";
@import "mixins";

*, *:after, *:before {
 box-sizing: border-box;   
}

.background-image {
    display: flex;
    background-image: url("../../assets/images/clear.webp");
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: grey;
    width: 100%;
    height: 55vh;
    background-size: cover;
    background-position: 50% 50%;
    &.clear {
        background-image: url("../../assets/images/clear.webp");
    }
    &.clear-night {
        background-image: url("../../assets/images/clear-night.webp");
    }
    &.cloudy {
        background-image: url("../../assets/images/cloudy.webp");
    }
    &.rainy {
        background-image: url("../../assets/images/rainy.webp");
    }
    &.rainy-night {
        background-image: url("../../assets/images/rainy-night.webp");
    }
    &.lightning {
        background-image: url("../../assets/images/lightning.webp");
    }
    &.lightning-night {
        background-image: url("../../assets/images/lightning-night.webp");
    }
    &.snowy {
        background-image: url("../../assets/images/snowy.webp");
    }
    &.snowy-night {
        background-image: url("../../assets/images/snowy-night.webp");
    }
    &.foggy {
        background-image: url("../../assets/images/foggy.webp");
    }
    &.foggy-night {
        background-image: url("../../assets/images/foggy-night.webp");
    }
    @media (orientation: landscape) {
        height: 55vh;
    }
}

li {
    list-style: none;
}

.place-name {
    text-shadow: 2px 2px 5px rgba(0,0,0,1);
    padding-bottom: 1.5rem;
    color: white;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2rem;
    &.forecast {
        &:not(:first-child) {
            margin-top: 3rem;
            @include media-sm {
            }
            @include media-lg {
            }
        }
        max-width: 350px;
        margin-top: 3rem;
            @include media-lg {
                align-items: stretch;
                margin-left: .75rem;
                margin-right: .75rem;
            }
    }
}

.forecast-temp {
    font-size: 1rem;
    .minmax {
        font-weight: bold;
    }
}


.current-card {
    min-width: 300px;
    width: 35vw;
    margin-top: -3rem;
    margin-bottom: 1.5rem;
    // @media (orientation: landscape) {
    //     margin-top: 1rem;
    // }
    &.forecast {
        margin-top: 0;
        @include media-xl {
            min-width: 200px;
            width: 250px;
            display: flex;
            flex-direction: column;
        }
    }
}

.current-more {
    width: 100%;
    overflow-x: hidden;
}

.weather-icon-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.weather-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.weather-icon {
    display: flex;
    justify-content: center;
    width: 40%;
    img {
        height: 60%;
        width: 60%;
        filter: invert(36%) sepia(21%) saturate(4539%) hue-rotate(188deg) brightness(96%) contrast(92%);
        @include media-md {
            width: 45%;
            height: 45%;
        }
        @include media-lg {
            width: 55%;
            height: 55%;
        }
    }
}

.forecast-btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;

}

.forecast-btn {
    text-decoration: none;
    color: white;
}

.forecast-cards-container, .scroll-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    cursor: grab;
    margin-top: -4rem;
    @include media-lg {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        margin-bottom: 5rem;
        padding-left: 24px;
        padding-right: 24px;
    }
}

.search-results {
    min-width: 275px;
}

.metric-switch {
    overflow: visible;
    width: 100%;
    height: 100%;
    transform: scale(0.3);
}
