/* ================================= 
  Variables
==================================== */
*, *:after, *:before {
  box-sizing: border-box;
}

.background-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: grey;
  width: 100%;
  height: 45vh;
  background-size: cover;
  background-position: 50% 50%;
}
.background-image.clear {
  background-image: url("../../assets/images/clear.webp");
}
.background-image.clear-night {
  background-image: url("../../assets/images/clear-night.webp");
}
.background-image.cloudy {
  background-image: url("../../assets/images/cloudy.webp");
}
.background-image.rainy {
  background-image: url("../../assets/images/rainy.webp");
}
.background-image.rainy-night {
  background-image: url("../../assets/images/rainy-night.webp");
}
.background-image.lightning {
  background-image: url("../../assets/images/lightning.webp");
}
.background-image.lightning-night {
  background-image: url("../../assets/images/lightning-night.webp");
}
.background-image.snowy {
  background-image: url("../../assets/images/snowy.webp");
}
.background-image.snowy-night {
  background-image: url("../../assets/images/snowy-night.webp");
}
.background-image.foggy {
  background-image: url("../../assets/images/foggy.webp");
}
.background-image.foggy-night {
  background-image: url("../../assets/images/foggy-night.webp");
}

li {
  list-style: none;
}

.place-name {
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.75);
  padding-bottom: 1.5rem;
  color: white;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: inherit;
  margin-top: -1rem;
}
.card-container.forecast:not(:first-child) {
  margin-top: 3rem;
}
@media (min-width: 1200px) {
  .card-container.forecast:not(:first-child) {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .card-container.forecast {
    margin-top: 0;
    align-items: stretch;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.current-card {
  min-width: 300px;
  width: 35vw;
  margin-top: -4rem;
  margin-bottom: 5rem;
}
@media (min-width: 1200px) {
  .current-card.forecast {
    min-width: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 350px;
  }
}

.current-more {
  width: 100%;
  overflow-x: hidden;
}

.weather-icon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.weather-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.weather-icon {
  display: flex;
  justify-content: center;
  width: 50%;
}
.weather-icon img {
  height: 60%;
  width: 60%;
}
@media (min-width: 768px) {
  .weather-icon img {
    width: 45%;
    height: 45%;
  }
}
@media (min-width: 992px) {
  .weather-icon img {
    width: 35%;
    height: 35%;
  }
}

.forecast-btn-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.forecast-btn {
  text-decoration: none;
  color: white;
}

.forecast-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .forecast-cards-container {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
  }
}
/*# sourceMappingURL=maps/styles.css.map */
